
/* HEADER */
header{
    background-color: #DC143C;
}

.hover-line{
    display: none;
    background-color: black;
    border: 2px solid #000 !important;
    width: 60%;
    margin: 0 auto;
}

.nav-item:hover .hover-line{
    display: block;
}


/* CARROSSEL */
.carrosel-img {
    height: 600px; 
    object-fit: cover;
}

/* DEPOIMENTOS */
#left {
    margin-left: 150px;
}
#right {
    margin-right: 150px;
}